.delete-btn{
    background-color: red;
    color: white;
    font-size: 18px;
}
.edit-btn{
    background-color: yellow;
    color: black;
    font-size: 18px;
}
.done-btn{
    background-color: green;
    color: white;
    font-size: 18px;
}
.todo{
    background-color: blanchedalmond;
    border-radius: 16px;
    border: 2px solid peru;
}
.todo-attribute{
    padding-top: 5px;
    padding-bottom: 5px;

}